body{
      align-items: center;
      position: absolute;
      left: 26%;
      top: 30%;
      background: black;
      color: white;
    }
    section{
      background: white;
      text-align: center;
      position: absolute;
      color: black;
      left: 50%;
      top: 50%;
      align-items: center;
      border: 5 px black;
      border-radius: 40px 40px 40px;
    }
    .bonito{
      border: solid 2px white;
      border-radius: 10px 10px 10px;
      background: black;
      color:white;
    }
    #creditos{
      display: block;
      width:400px ;
      height: 400px;
    }
    #ir{
      width: 80px;
      height: 20px;
    }